extends layout

block content
  h1
    
  <div>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
  <a class="navbar-brand" href="#">HOME</a>
  </div>
  <ul class="nav navbar-nav">
  <li class="#"><a href="#">Page 0</a></li>
  <li><a href="#">Page 1</a></li>
  <li><a href="#">Page 2</a></li>
  <li><a href="#">Page 3</a></li>
  </ul>
  </div>
  </nav>
  </div>



  <div class="block-feature"><a class="img_490_276" title="Hối lộ CSGT &quot;rẻ hơn, đỡ mất công đi đóng phạt&quot;?" href="http://tuoitre.vn/tin/ban-doc/tieu-diem/20160307/hoi-lo-csgt-re-hon-do-mat-cong-di-dong-phat/1062337.html"><img src="http://static.new.tuoitre.vn/tto/i/s490/2016/03/07/images-1457308112.jpg" alt="Hối lộ CSGT &amp;quot;rẻ hơn, đỡ mất công đi đóng phạt&amp;quot;?"></a><h1><a title="Hối lộ CSGT &quot;rẻ hơn, đỡ mất công đi đóng phạt&quot;?" href="http://tuoitre.vn/tin/ban-doc/tieu-diem/20160307/hoi-lo-csgt-re-hon-do-mat-cong-di-dong-phat/1062337.html">Hối lộ CSGT "rẻ hơn, đỡ mất công đi đóng phạt"?<span class="i-comments"><i class="fa fa-comments"></i> 81</span><span class="i-audios"><i class="fa fa-volume-up"></i></span></a></h1><p>TTO - Một bạn đọc cho rằng người vi phạm giao thông ngại nộp phạt đúng luật vì “hối lộ rẻ hơn, đỡ mất công đi đóng phạt” nhưng cũng nói thêm: &nbsp;"Nếu đã vi phạm luật giao thông thì tại sao lại ngại nộp phạt cho Nhà nước?".&nbsp;</p></div>
