extends layout
block content
	form#loginform(name='loginform',method='post',action='/users/login')
		input#username(name='username',type='text',placeholder='your username')
		input#password(name='password',type='password',placeholder='password')
		button#btnSubmit(type="submit") submit