extends ../layout
block content
	if error 
		p=error
	form#signupform(name='signupform',method='post',action='/users/signup')
		h3 Register
		input#firstname(name='firstname',type='text',placeholder='Firstname')
		input#lastname(name='lastname',type='text',placeholder='Lastname')
		input#username(name='username',type='text',placeholder='Username')
		input#penname(name='penname',type='text',placeholder='Pen-name')
		input#email(name='email',type='text',placeholder='Email')
		input#password(name='password',type='password',placeholder='Password')
		input#confirmpassword(name='password_confirmation',type='password',placeholder='Confirm password')
		button#btnSubmit(type="submit") Register