extends ../layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                a(href="/users/profile/#{user.id}")= user.username
            form(action='/users/delete/#{user._id}', method='post' ,name='delete')
                button.btn.btn-danger(type='submit') Delete
