extends ../layout2
block content
    //- p= article.
    header
        .header
          .fb-button
            #fb-root
            script.
              (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s);
              js.id = id;
              js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
              fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            .fb-like(data-layout='button_count', data-href='https://web.facebook.com/B%C3%A1o-M%E1%BB%9Bi-H%C3%B4m-Nay-1011030838965011/?ref=ts&fref=ts/')
            .fb-share-button(data-href='https://web.facebook.com/B%C3%A1o-M%E1%BB%9Bi-H%C3%B4m-Nay-1011030838965011/?ref=ts&fref=ts/', data-layout='button')
          a.h1(href='https://web.facebook.com/B%C3%A1o-M%E1%BB%9Bi-H%C3%B4m-Nay-1011030838965011/?ref=ts&fref=ts') Báo Mới 
          //- p Kho ebook
          .navbar-home
            nav.nav-links
              a.home(href='/') Trang chủ
              a.types(href='#') Hot
              a.types(href='#') Xã Hội
              a.types(href='#') Thế Giới
              a.types(href='#') Văn Hóa
              a.types(href='#') Kinh Tế
              a.types(href='#') Giáo Dục
              a.types(href='#') Thể Thao
              a.types(href='#') Khoa Học - Công Nghệ
              a.lists(href='/tat-ca') Tất cả
            .search-button
              .input-group
                input#search.form-control(type='text', placeholder='Tìm kiếm...', style='font-size: 16px')
                span.input-group-btn
                  button#search-button.btn.btn-default(type='button')
                    i.fa.fa-search(style='color:#FFF')
      body
        .main
          div.articlebox
            h1 Hoa khôi Diệu Ngọc nói gì khi váy dạ hội bị chê tả tơi
            p
              Được hỏi về cảm nghĩ ra sao khi chiếc váy dạ hội màu hồng mà Diệu Ngọc mặc trong đêm đăng quang Hoa khôi Áo dài 2016 không nhận được đánh giá cao của khán giả. Diệu Ngọc đã bày tỏ quan điểm cá nhân tôn trọng sự đa chiều của dư luận cũng như người thiết kế chiếc váy:
            p.
              "Trong nghệ thuật, chắc chắn mỗi người đều có những điểm nhìn riêng và Ngọc luôn tôn trọng điều đó. Trước khi bước vào đêm chung kết, các thí sinh đã có được buổi gặp gỡ và trao đổi với NTK Audrey Hiếu Nguyễn thật kĩ để anh có thể thực hiện những thiết kế thật phù hợp với sắc vóc, tính cách và mong muốn của từng người.
            p.
                Dù thời gian khá gấp rút nhưng anh và ekip đã cố gắng hết sức để có thể hỗ trợ tối đa cho từng thí sinh. Ngọc và những cô gái còn lại luôn cảm ơn tình cảm và nhiệt huyết nơi anh. Một bộ váy không chỉ đẹp ở hình thức bên ngoài mà còn đẹp ở tấm lòng và tài năng mà nhà thiết kế đã tạo ra chúng."
            p.
                Trở thành hoa khôi và sắp tới đại diện Việt Nam đi thi Hoa hậu Thế giới, chắc chắn Diệu Ngọc cần thay đổi rất nhiều, phong cách thời trang là điều quan trọng.
            p.
                "Những lời chê bai, nhận xét trái chiều từ phái khán giả sẽ trở thành động lực để Ngọc có thể cố gắng thay đổi và hoàn thiện mình hơn trong phong cách thời trang cá nhân, đặc biệt khi đến với cuộc thi Hoa hậu Thế giới năm nay. Ngọc cũng đang thực sự mong chờ một hình ảnh mới chỉn chu hơn của bản thân trong thời gian tới."
            p.
                Tuy vậy tân hoa khôi vẫn bình tĩnh nhận những quan điểm khác nhau từ dư luận và tôn trọng công sức của người thiết kế.
            body
              #comment-header(style='padding: 10px 10px 0 10px;')
                h2.comment
                #profile(style='text-align:left;margin: 3px; font-size: 13px; font-weight: bold;height:50px;')
                div(style='margin: 3px; font-size: 11px;')
                  div(style='float:left; margin-right:5px;')
                    input#fcs_Name_53040144a4d7a.comment-label(type='text', name='fcs_Name_53040144a4d7a', onfocus='nameFocus_53040144a4d7a(this)', onblur='nameBlur_53040144a4d7a(this)', value='Enter your name here', maxlength='25', style='font-size:11px; font-family: Arial;width: 140px; border: 1px solid #676767; background: #f9f9f9; color:#999; padding: 3px; margin: 0px;')
                  div(style='float:left; margin-right:5px;')
                    iframe#fcs_bs_53040144a4d7a(src='http://www.freecommentscript.com/bootstrapper.php?bg=FFFFFF&fs=11&tp=0&callback=http://www.freecommentscript.com/', style='width: 110px; height: 30px; border: none; vertical-align:bottom;overflow: hidden; padding:0px;font-size:11px;', frameborder='0', scrolling='no', __idm_frm__='515')
                div(style='clear:both;margin: 3px; padding-top: 6px;font-size: 11px;')
                  textarea#fcs_Comment_53040144a4d7a.comment-label(name='fcs_Comment_53040144a4d7a', onfocus='commentFocus_53040144a4d7a(this)', title='Use @ symbol to address another user by name. ex. @Bob', onblur='commentBlur_53040144a4d7a(this)', rows='4', style='width:100%;font-size:11px;font-family: Arial;border: 1px solid #676767; background: #f9f9f9; color:#999;padding: 3px;', maxlength='2000') Enter your comment here
                  label#fcs_Chars(style='font-family: Arial;') 2000
                  label#fcs_CommentError(style='color: #F00;')
                #fcs_Response_53040144a4d7a(style='margin: 3px; font-size: 10px; text-align: center; color: #656565; font-style: italic;')
                
                  div(style='float:right;')
                    input.fcs-button(type='button', value='Post Comment', onclick='AddComment_53040144a4d7a()')
                  div(style='clear:both;')
                div(style='border-top:1px solid #ebebeb;padding-top:7px; margin-top: 7px;margin-bottom: 7px;')
                  div(style='clear:both;')
          div.sub-box
            div.small
              a(href='/chong-san-phu-to-bac-si-tac-trach-khien-con-minh-tu-vong/r/19581862.epi', title="Chồng sản phụ 'tố' bác sĩ tắc trách khiến con mình tử vong", target='_blank')
              figure
                  img.img(data-src='http://2.i.baomoi.xdn.vn/m150/16/06/09/3/19581862/1_75308.jpg', src='http://2.i.baomoi.xdn.vn/m450x/16/06/09/3/19581862/1_75308.jpg.webp', alt="Chồng sản phụ 'tố' bác sĩ tắc trách khiến con mình tử vong")
              header
                  h5 Chồng sản phụ 'tố' bác sĩ tắc trách khiến con mình tử vong
                  p.meta
                    span Lao Động
                    time.friendly(datetime='2016-06-09T13:06:00+07:00') 1 giờ trước
             div.small
              a(href='/chong-san-phu-to-bac-si-tac-trach-khien-con-minh-tu-vong/r/19581862.epi', title="Chồng sản phụ 'tố' bác sĩ tắc trách khiến con mình tử vong", target='_blank')
              figure
                  img.img(data-src='http://2.i.baomoi.xdn.vn/m150/16/06/09/3/19581862/1_75308.jpg', src='http://2.i.baomoi.xdn.vn/m450x/16/06/09/3/19581862/1_75308.jpg.webp', alt="Chồng sản phụ 'tố' bác sĩ tắc trách khiến con mình tử vong")
              header
                  h5 Chồng sản phụ 'tố' bác sĩ tắc trách khiến con mình tử vong
                  p.meta
                    span Lao Động
                    time.friendly(datetime='2016-06-09T13:06:00+07:00') 1 giờ trước