#body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #E6E6FA;
}

#loginform {
  box-sizing: border-box;
	width: 20%;
	margin: 5% auto 0;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 3%;
  border-radius: 3px;
}

#loginform h3 {
	box-sizing: border-box;
	padding: 12% 35%;
	height: 5%;
  width: 100%;
  background: #6666cc;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

#loginform input {
  margin: 16% 10%;
  width: 80%;
  display: block;
  border: none;
  padding: 5% 0;
  border-bottom: solid 1px #6666cc;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100%, #6666cc 4%);
  background-position: -80% 0;
  background-size: 80% 100%;
  background-repeat: no-repeat;
  color: #c7c7cd;
}

#loginform button {
	border: none;
  background: #6666cc;
  cursor: pointer;
  border-radius: 3px;
  padding: 3%;
  width: 80%;
  color: white;
  margin-left: 10%;
  margin-bottom: 5%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

#signup {
	color: #00b7ff;
	padding: 5% 25%;
}

#messages {
	box-sizing: border-box;
	margin: 3% 40%;
	padding: 1%;
	height: 6%;
  width: 20%;
  background: #ffdfe5;
  color: #cc3333;
  border-radius: 3px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;

}

#signupform {
	box-sizing: border-box;
	width: 20%;
	margin: 5% auto 0;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 3%;
  border-radius: 3px;
}

#signupform h3 {
	box-sizing: border-box;
	padding: 12% 32%;
	height: 5%;
  width: 100%;
  background: #00b7ff;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

#signupform input {
	margin: 16% 10%;
  width: 80%;
  display: block;
  border: none;
  padding: 5% 0;
  border-bottom: solid 1px #00b7ff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100%, #00b7ff 4%);
  background-position: -80% 0;
  background-size: 80% 100%;
  background-repeat: no-repeat;
  color: #c7c7cd;
}

#signupform button {
	border: none;
  background: #00b7ff;
  cursor: pointer;
  border-radius: 3px;
  padding: 3%;
  width: 80%;
  color: white;
  margin-left: 10%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

#error {
  box-sizing: border-box;
  margin: 2% 40%;
  padding: 1%;
  height: 8%;
  width: 20%;
  background: #ffdfe5;
  color: #cc3333;
  border-radius: 3px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

#bodyhome {
  font: 140% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/home.jpg");
  background-size: 100%;
}

#bodyuser, #bodyuserlist {
  font: 140% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: 100%;
  background-color: #F0F2F5;
}

.welcomehome {
  font-size: 800%;
  font-variant: small-caps;
  font-family: Helvetica, Arial, sans-serif;
  font-style: oblique;
  margin: 10% auto;
  padding-left: 28%;
  color: #ff0000;
}

.nonewelcome {
  display: none;
}

#back {
  border: none;
  background: #6666cc;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.8%;
  color: white;
  margin: 1%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

#formmanageruser {
  border: none;
  background: #00b7ff;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.4% 3%;
  color: white;
  margin: 1% 0 0 40%;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

#formmanagearticle {
  border: none;
  background: #00b7ff;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.4% 3.3%;
  margin: 1% 30% 0 0;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

#formsetting {
  border: none;
  background: #00b7ff;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.4% 4.5%;
  color: white;
  margin: 1% 0 0 40%;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: 15px;
}

#formarticle {
  border: none;
  background: #00b7ff;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.4% 4.2%;
  margin: 1% 30% 0 0;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: 15px;
}

#formnewarticle{
  border: none;
  background: #00b7ff;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.4% 9.2%;
  color: white;
  margin: 1% 0 0 40%;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: 30px;
}

#informationform {
  margin: 5% 10% 5% 10%;
  padding: 2% 4%;
  height: 40%;
  width: 30%;
  background: #f8f8f8;
  color: #cc3333;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-align: center;
  font-size: 100%;
}

#informationform input {
  margin: 5% 18%;
  width: 70%;
  display: block;
  border: none;
  padding: 2% 0;
  border-bottom: solid 1px #6666cc;
  background-position: -20% 0;
  background-size: 20% 100%;
  color: #c7c7cd;
}

#informationform button {
  border: none;
  background: #6666cc;
  cursor: pointer;
  border-radius: 3px;
  padding: 2%;
  width: 35%;
  color: white;
  margin-left: 5%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

#changepasswordform {
  margin: -37% 10% 5% 60%;
  padding: 2% 4%;
  height: 50%;
  width: 30%;
  background: #f8f8f8;
  color: #cc3333;
  border-radius: 3px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 100%;
}

#changepasswordform input {
  margin: 5% 18%;
  width: 70%;
  display: block;
  border: none;
  padding: 2% 0;
  border-bottom: solid 1px #6666cc;
  background-position: -20% 0;
  background-size: 20% 100%;
  color: #c7c7cd;
}

#changepasswordform button {
  border: none;
  background: #6666cc;
  cursor: pointer;
  border-radius: 3px;
  padding: 2%;
  width: 45%;
  color: white;
  margin-left: 2%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.headbar {
  width: 100%;
  height: 100px;
}

.notloginandsignup{
  display: none;
}

.loginandsignup{
  display: block;
}

#bodywritearticle {
  font: 140% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/writepage.jpg");
  background-size: 100%;
  background-repeat: none;
}

#bodywrite {
  font: 140% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: 100%;
  background-repeat: none;
  background-color: #F0F2F5;
}

#writearticle {
  color: #ff3300;
  margin-left: 40%;
  margin-bottom: 2%;
  font-size: 160%;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
}

#title {
  box-sizing: border-box;
  width: 88%;
  height: auto;
  margin: 1% 0 1% 7%;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 1%;
  border-radius: 3px;
  background: #f0f0f0;
  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
}

#description {
  box-sizing: border-box;
  width: 88%;
  height: auto;
  margin: 1% 0 1% 7%;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 2%;
  border-radius: 3px;
  background: #f0f0f0;
  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
}

#thumbleImage {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 1%;
  width: 22%;
  color: white;
  margin-left: 75%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

#select {
  box-sizing: border-box;
  width: 8%;
  height: auto;
  margin-left: 87%;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5%;
  border-radius: 3px;
  background: #f0f0f0;
}

#paragraph {
  box-sizing: border-box;
  width: 88%;
  height: auto;
  margin: 1% 0 1% 7%;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 12%;
  border-radius: 3px;
  background: #f0f0f0;
  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
}

#submit {
  border: none;
  background: #ff3333;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.5%;
  width: 5%;
  color: white;
  margin-left: 90%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  font-size: 100%;
}
.useritem {
  box-sizing: border-box;
  background-color: #f8f8f8;
  width: 35%;
  height: auto;
  margin: 1% auto 0;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 1.5%;
  border-radius: 3px;
}

.background0{
  background:#e6e2e2;
}
.background1{
  background:#d2caca;
}
.this{
  margin-left: 4%;
}
#blocktheuser{
  float: right;
}
#unblockuser{
  float: right;
}
#addnewrootuser{
  float: right;
}
#removerootuser{
  float: right;
}

#userlist {
  color: #ff3300;
  margin-left: 50%;
  margin-bottom: 2%;
  font-size: 180%;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
}

#fontarticle {
  color: #0A0A0A;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
}
