extends ../layout
block content
	body#bodyhome
	if user.root
		br
		a#formmanageruser(href="/users") Manage users
		// br
		a#formmanagearticle(href="/article/manage_article") Manage article
		br
	a#formsetting(href="/users/profile") Setting 
	// br
	//- a#formarticle(href='/article/get_article_writer/#{user._id}') Your article 
	a#formarticle(href='/article/yourarticles') Your article
	
	br
	a#formnewarticle(href="/article/create_article") Write new article