extends layout
block content

	form#createnewarticle(name='createnewarticle',method='post',action='#')
		input#title(name='title',type='text',placeholder='title')
		input#description(name='description',type='text',placeholder='description')
		input#category(name='category',type='text',placeholder='category')
		input#thumbleimage(name='thumbleimage',type='file',placeholder='image')
		input#content(name='content',type='text',placeholder='')
	form#articlecontent(name='articlecontent',method='post',action='')
		input#title(name='title',type='text',placeholder='title')
		input#description(name='description',type='text',placeholder='description')
		input#category(name='category',type='text',placeholder='category')